//foundation
@import "foundation/_reset";
@import "foundation/_body";

//layout
@import "layout/_header";
@import "layout/_pagearticle";
@import "layout/_singlepage";

//object

    @mixin fontSize($pc, $sp) {
        font-size: $pc;
        @include media{
            font-size: $sp;
        }
    }



    .picture {
        position: relative;
    }

    .logo, .text {
        position: absolute;
    }



    .text {
        margin: 0 auto;
        z-index: 2;
        top: 395px;
        left: 800px;
    }

    .visual {
        width: 1020px;
        margin: 0 auto;
        z-index: 1;
        top: 150px;
        left: 50px;
    }

    p .info {
        @include fontSize(24px,32px);
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        height: 120px;

        background-color: #000;
        @include fontSize(16px,24px);
    }