//foundation
@import "foundation/_body";

//layout
@import "layout/_pagearticle";

//object

    @mixin fontSize($pc, $sp) {
        font-size: $pc;
        @include media{
            font-size: $sp;
        }
    }

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
// .pc { display: block !important; }
// .sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
// @media only screen and (max-width: 768px) {
//     img { max-width: 100%; }
//     .pc { display: none !important; }
//     .sp { display: block !important; }
//     }

    .navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 130px;

    li {
        list-style: none;
        font-weight: bold;
        font-family: monospace;
        @include fontSize(14px,36px);
        margin-right:30px;
        &:last-child {
            margin-right: 0;
        }
    }

    .color a {
        color: #000;
        text-decoration: none;
    }

    }

    .picture {
        position: relative;
    }

    .logo, .text {
        position: absolute;
    }

    .logo {
        z-index: 3;
        top: 10px;
        left:10px;
    }

    .text {
        margin: 0 auto;
        z-index: 2;
        top: 395px;
        left: 800px;
        
    }

    .visual {
        // width: 1020px;
        text-align: center;
        z-index: 1;
        top: 150px;
        left: 50px;
        img {
            @include media {
                width: 100%;
            }
        }
    }

    p .info {
        @include fontSize(24px,32px);
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        height: 120px;

        background-color: #000;
        @include fontSize(16px,24px);
    }