//foundation
@import "foundation/_body";

//layout
@import "layout/_pagearticle";
@import "layout/_singlepage";

//object

    @mixin fontSize($pc, $sp) {
        font-size: $pc;
        @include media{
            font-size: $sp;
        }
    }

    .navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 130px;

    li {
        list-style: none;
        margin-right:5px;
        font-weight: bold;
        @include fontSize(14px,36px);
    }

    }

    .picture {
        position: relative;
    }

    .logo, .text {
        position: absolute;
    }

    .logo {
        z-index: 3;
        left: 0; top: 0;
    }

    .text {
        margin: 0 auto;
        z-index: 2;
        top: 346px;
        left: 635px;
    }

    .visual {
        width: 1020px;
        margin: 0 auto;
        z-index: 1;
        top: 110px;
        left: 50px;
    }

    p .info {
        @include fontSize(24px,32px);
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        height: 120px;

        background-color: #000;
        @include fontSize(16px,24px);
    }