// Header
.header-nav {
    position: relative;
    @include media {
        height: 280px;
        display: flex;
        justify-content: center;
    }

    .logo {
        z-index: 20; //.navigationと同じスタック文脈
        position: absolute;
            top: 0;
            left: 0;
        @include media{
            position: static; //PC画面ではpositionで指定していたので、初期化
        }
    }

    .navigation {
        z-index: 10; //.logoと同じスタック文脈
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 130px;

        .navi-list {
            display: flex;
            justify-content: flex-end;
            @include media {
                display: none;
            }
            li {
                list-style: none;
                margin-right:30px;
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                color: #000;
                font-weight: bold;
                font-family: monospace;
                padding: 10px;
                &:hover {
                    cursor: pointer;
                }
                @include fontSize(14px,36px);
                text-decoration: none;
            }
        }
    }
} // header