.single-page-ttl {
    text-align: center;
    p {
        font-size: 45px;
    }
}

.single-page-contents {
    min-height: 350px;
    padding: 25px 45px;
}

.custom-image-test {
    text-align: center;
}