// ハンバーガーメニュー

header {
    position: relative;
}

.hamburger {
    display: none;

    @include media {
        display: block;
        width: 30px;
        height: 25px;
        position: absolute;
            right: 30px;
            bottom: 140px;
        cursor: pointer;
        // align-self: center;
        // text-align: right;

        span,
        span::after,
        span::before {
            width: 100%;
            height: 4px;
            background-color: #333;
            border-radius: 3px;
            transition: all .5s;
            backface-visibility: hidden;
        }

        span {
            position: relative;
            display: block;
        }

        span::before {
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
        }

        span:after {
            @extend span::before;
            top: 9px;
        }

        &.on span {
            background-color: transparent;
            &:before {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:after {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        } //クリックされて.onがついた時
    } //windowがSPサイズの時
}